body{
  background-image: url("../images/background1.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-size: cover;
  min-height: 100vh;
}
.contain{
  width: 460px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.welcome{
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.welcome h1{
  color: rgb(219, 219, 219);
  font-size: 36px;
}
.contain a{
  margin-bottom: 22px;
}
.contain a button{
  width: 350px;
  height: 50px;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(33, 94, 192);
}
.contain a button:hover{
  background-color: rgb(42, 105, 207);
  cursor: pointer;
}
.welcome hr{
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}
footer{
  position: absolute;
  bottom: 0px;
}
footer p{
  color: gray;
}